#header {
    position: fixed;
    left: 10%;
    top: 0%;
    width: 80%;
    height: 5rem;
    z-index: 2;
    padding: 0%;
}
#content {
    margin-top: 10rem;
    width: 80%;
    z-index: -1;
    text-align: left;
}
#text_container {
    font-size: 1rem;
}
body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    }

.animation-box {
    margin-top: 1rem;
    width: 80%;
    height: 3rem;
    background-color:transparent;
    /* margin: 0 auto; */
    overflow: hidden;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fadeInOutLong {
    0% {
        opacity: 0;
    }

    .002% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

.learn {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    color: #000000;
    animation-name: fadeInOut;
    animation-duration: 5s;
}

.create {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    color: #000000;
    animation-name: fadeInOut;
    animation-delay: 5s;
    animation-duration: 5s;
}

.contribute {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    color: #000000;
    animation-name: fadeInOut;
    animation-delay: 10s;
    animation-duration: 5s;
}

.name{
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    color: #000000;
    animation-name: fadeInOutLong;
    animation-delay: 15s;
    animation-duration: 86400s;
}