body {
    margin-top: 80px;
}
.content {
    width: 80%;
    margin: 30px;
    text-align: left;
}
.hidden {
    display: none;
}
.search {
    box-shadow: 5px 5px 8px #888888;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}