@font-face {
    font-family: "roboto-bold";
    src: url("Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("Roboto-Light.ttf");
}

.profile-container {
    max-width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-container-child {
    width: auto;
    text-align: center;
}

.profile-image {
    width: 250px;
}

.profile-text {
    font-size: min(80px, 120px);
    font-family: "roboto-bold";
    color: black;
}

.profile-icon {
    width: 30px;
    padding: 5px;
}

.profile-icon:hover {
    opacity: .5;
    text-decoration: none;
}
